$color-white: #fff;
$color-black: #000;

$color-primary: #ff385c;

$text-color: #484848;
$text-color-light: #717171;


$color-grey-dark: #222;
$color-grey-light: #ebebeb;
$color-grey-light-2: #f7f7f7;

$section-margin: 10rem 12rem;

