* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* 1rem = 10px => 10px/16px = 62.5% */
  font-size: 62.5%;
  position: relative;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}

.container {
  max-width: 180rem;
  margin: 0 auto;
}

.heading-primary {
  color: #fff;
  font-size: 9rem;
  font-weight: 700;
  line-height: 1;
}

.heading-secondary {
  font-size: 4.4rem;
  letter-spacing: 1px;
  font-weight: 700;
}

.subheading {
  display: block;
  font-size: 4rem;
}

.card__title {
  display: block;
  font-size: 2.6rem;
  font-weight: 500;
}

.u-margin-bottom-small {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 1.5rem;
  text-align: center;
}

.btn--white {
  background-color: #fff;
  border: 0.5px solid #fff;
  color: #222;
}

.btn--white--try {
  width: 50%;
  margin-top: 1.5rem;
}

.btn--destination:link,
.btn--destination:visited {
  display: inline-block;
  background-color: inherit;
  border: none;
  font-size: 2rem;
  line-height: 1.8rem;
  text-decoration: none;
  color: #717171;
  border-radius: .8rem;
  padding: 1rem;
  margin: .6rem .6rem .6rem 0;
}

.btn--destination:link:first-child,
.btn--destination:visited:first-child {
  margin-left: -1rem;
}

.btn--destination:link:hover,
.btn--destination:visited:hover {
  background-color: #eeeeee63;
}

.btn--destination:focus {
  background-color: #fff;
  color: #484848;
}

.cities {
  max-width: 17.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 12rem;
          column-gap: 12rem;
  row-gap: 5rem;
}

.city {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.city__img {
  height: 12rem;
  border-radius: 2rem;
  margin-right: 3rem;
}

.city__text-box {
  width: 15rem;
}

.city__name, .city__distance {
  display: block;
  font-size: 1.8rem;
}

.city__name {
  font-weight: 700;
  margin-bottom: .5rem;
}

.live-anywhere__cards,
.discover__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-box__img {
  height: 37rem;
  border-radius: 1rem;
  margin-bottom: .5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.discover__card {
  -webkit-transition: all .1s;
  transition: all .1s;
}

.discover__card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.discover__card--featured {
  position: relative;
}

.discover__card--featured::before {
  content: 'featured';
  background-color: #fff;
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: .3px;
  text-align: center;
  border-radius: .5rem;
  display: inline-block;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.discover__image {
  width: 50rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.card__description {
  font-size: 2rem;
  font-weight: 300;
}

.destinations {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.destination__cities {
  border-top: 1px solid #ebebeb;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
}

.destination {
  padding: 2rem 0;
}

.destination__link {
  text-decoration: none;
}

.destination__name {
  display: block;
  color: #484848;
  font-weight: 500;
  font-size: 1.6rem;
}

.destination__country {
  color: #717171;
}

.search-box-container {
  background-color: #fff;
  color: #484848;
  padding: 1rem 2rem;
  border-radius: 5rem;
  -webkit-column-count: 4;
  column-count: 4;
  -webkit-column-rule: 1px solid #ebebeb;
  column-rule: 1px solid #ebebeb;
  width: 80rem;
  margin-left: 45rem;
}

.search__box {
  width: 14rem;
  margin-left: 1rem;
  overflow: hidden;
}

.search__box label {
  font-size: 1.2rem;
  letter-spacing: .5px;
  font-weight: 700;
}

.search__box input {
  border: none;
  font-size: 1.4rem;
}

.search__box input:focus {
  outline: none;
}

.last-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
}

.search-icon {
  width: 2rem;
  height: 2rem;
  background-color: #ff385c;
  fill: #fff;
  padding: 1rem;
  border-radius: 50%;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, right top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8))), url("/img/bg-image.jpg");
  background-image: linear-gradient(to left bottom, transparent, rgba(0, 0, 0, 0.8)), url("/img/bg-image.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.header__text-box {
  display: inline-block;
  max-width: 18rem;
  position: absolute;
  left: 15rem;
  bottom: 10rem;
  margin-left: rem;
}

.navigation {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 15rem;
  color: #fff;
  font-size: 1.8rem;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
}

.navigation__logo--link {
  color: inherit;
}

.navigation__logo {
  height: 4.5rem;
  fill: currentColor;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  padding: 1rem 1.6rem;
  position: relative;
}

.navigation__link:not(:last-child) {
  margin-right: 2rem;
}

.navigation__link:hover {
  color: #85a9c4e0;
}

.navigation__user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.navigation__user-host {
  display: inline-block;
  padding: 1rem 2rem;
}

.navigation__user-host:hover {
  background-color: #00427523;
  border-radius: 3rem;
}

.navigation__planet-icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 2rem;
}

.navigation__planet-icon:hover {
  background-color: #00427523;
  border-radius: 50%;
}

.navigation__button {
  display: inline-block;
  padding: 1rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 3rem;
}

.navigation__button--user-icon--i1 {
  width: 2.5rem;
  height: 2.5rem;
  color: #484848;
  margin-right: .5rem;
}

.navigation__button--user-icon--i2 {
  width: 3.5rem;
  height: 3.5rem;
  fill: #717171;
}

.footer {
  background-color: #f7f7f7;
  border-top: 1px solid #ebebeb;
}

.footer__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.footer__heading {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 500;
}

.footer__links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.footer__link {
  display: block;
}

.footer__link:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__link:link, .footer__link:visited {
  text-decoration: none;
  color: #222;
}

.footer__copyright {
  margin: 10rem 12rem 5rem 12rem;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ebebeb;
}

.footer__icon {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  fill: #484848;
}

.copy {
  color: #484848;
}

.copy__dot {
  margin-right: .3rem;
  margin-left: .5rem;
}

.link:link, .link:visited {
  text-decoration: none;
  color: #484848;
  margin-right: .5rem;
}

.link:hover {
  text-decoration: underline;
}

.link--underline:link, .link--underline:visited {
  text-decoration: underline;
}

.link--underline:hover {
  color: #717171;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.lang-curr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #484848;
}

.lang-curr__link span {
  font-size: 1.6rem;
  color: inherit;
}

.lang-curr__link:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  margin-right: 1rem;
}

.explore-section,
.live-anywhere-section,
.try-hosting-section,
.discover-section,
.ispiration-section,
.footer__grid-container {
  margin: 10rem 12rem;
}

.try-hosting-section {
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), to(black)), url("/img/host-img2.jpg");
  background-image: linear-gradient(to left, transparent, black), url("/img/host-img2.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  height: 65rem;
  border-radius: 2rem;
  overflow: hidden;
}

.try-hosting {
  width: 50%;
  height: 100%;
  position: relative;
}

.try-hosting__text-box {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50%;
  font-size: 1.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 3.2rem 3.2rem 0 3.2rem;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */