.header{
   height: 95vh;
   background-image: linear-gradient(to left bottom,
         transparent,
         rgba(0,0,0, 0.8)),
         url('/img/bg-image.jpg');
   background-size: cover;
   background-position: bottom;
   position: relative;

   &__text-box{
      display: inline-block;
      max-width: 18rem;
      position: absolute;
      left: 15rem;
      bottom: 10rem;
   }
}