.navigation{
      box-sizing: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3rem 5rem;
      color: $color-white;
      font-size: 1.6rem;
      line-height: 2;
      font-weight: 500;
      letter-spacing: 1px;
      width: 100%;
      margin: 0 auto;
      // position: fixed;

      @include respond(tab-land){
         font-size: 1.2rem;
         justify-content: space-around;
      }
      
   &__logo--link{
      color: inherit;
   }
   &__logo{
      height: 4.5rem;
      fill: currentColor;

      @include respond(tab-land){
         height: 3.5rem;
      }
   }

   &__list{
      list-style: none;
      display: flex;

      @include respond(tab-land){
         justify-content: flex-end;
      }
   }

   &__item{
      @include respond(tab-land){
         text-align: center;
         margin-left: 3rem;
      }
   }

   &__link{
      text-decoration: none;
      color: inherit;
      font-size: inherit;
      padding: 1rem 1.5rem;
      position: relative;

      &:not(:last-child){
         margin-right: 2rem;
      }

      &:hover{
         color: #000000ad;
      }

      @include respond(tab-land){
         
      }
   }

   &__user-box{
      display: flex;
      align-items: center;
      gap: .5rem;
      width: 32rem;
      position: relative;

      @include respond(tab-land){
         gap: 0;
         justify-content: end;
      }
      
   }
   &__user-host{
      display: inline-block;
      padding: 1rem 1.5rem;
      &:hover{
         background-color: #00000025;
         border-radius: 3rem;
      }
      @include respond(tab-land){
         padding: 1rem 0;
      }
   }
   &__planet-icon{
      width: 2.5rem;
      height: 2.5rem;
      padding: 2rem;
      &:hover{
         background-color: #00000025;
         border-radius: 50%;
      }

      @include respond(tab-land){
         height: 2rem;
         width: 2rem;
         padding: 1;
      }
   }
   &__button{
      display: inline-block;
      padding: 1rem;
      height: 4.5rem;
      display: flex;
      align-items: center;
      background-color: $color-white;
      border-radius: 3rem;
      @include respond(tab-land){
         height: 3.5rem;
      }
      // &:target{
      //    visibility: visible;
      //    opacity: 1;
      //    pointer-events: auto;
      // }
      &--user-icon{
         
         &--i1{
            width: 2.5rem;
            height: 2.5rem;
            color: $text-color;
            margin-right: .5rem;

            @include respond(tab-land){
               height: 2rem;
               width: 2rem;
            }
         }
         &--i2{
            width: 3.5rem;
            height: 3.5rem;
            fill: $text-color-light;

            @include respond(tab-land){
               height: 2.5rem;
               width: 2.5rem;
            }
         }
      }
   }
}
// .scrolled{
//    background-color: $color-white;
//    color: $color-white;
// }