.cities{
   max-width: 17.6rem;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 12rem;
   row-gap: 5rem;

   @include respond(desktop){
      // grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
   }
}

.city{
   width: 100%;
   display: flex;
   align-items: center;
   flex-shrink:0;
   
   &__img{
      height: 12rem;
      border-radius: 2rem;
      margin-right: 3rem;
      @include respond(desktop){
         margin-right: 1.5rem;
      }
   }

   &__text-box{
      width: 15rem;
   }
   &__name,
   &__distance{
      display: block;
      font-size: 1.8rem;
   
   }

   &__name{
      font-weight: 700;
      margin-bottom: .5rem;
   }
}