.navigation__popup{
   width: 25rem;
   background-color: $color-white;
   position: absolute;
   right: 7rem;
   top: 7rem;
   border-radius: 1rem;
   transition: opacity .5;

   //hide popup
  display: none;
   opacity: 0;
  
   
   // &:focus{
   //    visibility: visible;
   //    opacity: 1;
   // }
   
   &--box{
      display: flex;
      flex-direction: column;
      padding-bottom: .6rem;

      &:first-child{
         border-bottom: 1px solid $color-grey-light;
         margin-bottom: .6rem;
         padding-top: .6rem;
      }
   }
   .show{ 
      display: block;
      pointer-events: auto;
   }
}

// .navigation__popup .popup-show{ 
//    visibility: visible;
//    opacity: 1;
//    pointer-events: auto;
// }

.box__link{
   &:link,
   &:visited{
      cursor: pointer;
      text-decoration: none;
      display: block;
      color: $text-color;
      padding: .5rem 0 .5rem 1rem;
      font-size: 1.4rem;
   }

   &:hover{
      background-color: $color-grey-light-2;
      cursor: pointer;
   }

}
.box__link--sign{
   font-weight: 700;
}