.heading-primary{
   color: $color-white;
   font-size: 9rem;
   font-weight: 700;
   line-height: 1;
}

.heading-secondary{
   font-size: 4.4rem;
   letter-spacing: 1px;
   font-weight: 700;

   @include respond(desktop){
      font-size: 3.8rem;
   }
   @include respond(tab-land){
      font-size: 3.2rem;
   }

   @include respond(tab-port){
      font-size: 3rem;
      text-align: center;
   }
}
.subheading{
   display: block;
   font-size: 4rem;

   @include respond(desktop){
      font-size: 3.2rem;
   }

   @include respond(tab-port){
      font-size: 2.2rem;
      text-align: center;
   }
}
.card__title{
   display: block;
   font-size: 2.6rem;
   font-weight: 500;

   @include respond(desktop){
      font-size: 2.4rem;
   }
   @include respond(tab-port){
      font-size: 2rem;
   }
}