.heading-primary{
   color: $color-white;
   font-size: 9rem;
   font-weight: 700;
   line-height: 1;
}

.heading-secondary{
   font-size: 4.4rem;
   letter-spacing: 1px;
   font-weight: 700;
   margin-bottom: 3rem;
}