.explore-section,
.live-anywhere-section,
.try-hosting-section,
.discover-section,
.ispiration-section,
.footer__grid-container{
   margin: $section-margin;

   @include respond(desktop){
      margin: $section-margin-desktop;
   }
}

.try-hosting-section{
   background-image:linear-gradient(to left ,transparent, rgba($color-black, 1)),url('/img/host-img2.jpg');
   background-size: cover;
   background-position: center top;
   position: relative;
   height: 65rem;
   border-radius: 2rem;
   overflow: hidden;
   @include respond(desktop){
      height: 55rem;
   }

   @include respond(tab-land){
      height: 45rem;
   }
}
.try-hosting{
   // background-color: $color-black;
   width: 50%;
   height: 100%;
  

   position: relative;


   &__text-box{
      color: $color-white;
      display: flex;
      flex-flow: column;
      width: 50%;
      font-size: 1.6rem;
      justify-content: center;
      align-items: left;
      padding: 3.2rem 3.2rem 0 3.2rem;
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translate(-50%, -50%);
      
      @include respond(desktop){
         width: 60%;
         right: 0;
      }
      @include respond(tab-land){
         font-size: 1.4rem;
         width: 70%;
         right: -10%;
      }
   }
}